{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "allowImportExportEverywhere": false,
    "requireConfigFile": false,
    "codeFrame": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
   "plugins": [
    "prettier"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-console": "warn",
    "max-len": ["warn", { "code": 120 }],
    "class-methods-use-this": ["off"],
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "import/prefer-default-export": "off",
    "no-param-reassign": ["error", {
      "props": false
    }]
  }
}
