* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html {
    scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
}

::-webkit-scrollbar {
    /* width: 0px;
    display: none;
    background: transparent; опционально */
  }

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    margin: -10px 14px;
}

.logo .title-logo a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    /* color-primary */
    color: #545454;
}

.logo .subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    /* color-light-xl */

    color: #545454;
    padding-left: 4px;
    padding-top: 10px;
}

.menu {
    list-style: none;
    margin: 10px -28px;
    padding-left: 0;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
}

.item-menu a {
    color: #545454;
}

.item-menu:not(.active) a:hover {    
    color: #292929;
}

.view-slider {
    background-color: #F6F6F6;
    height: 1342px;
}

.view-slider .title {
    display: flex;    
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-left: 10px;
}

.view-slider .section-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
}

.pet-popup {
    display: none;
    width: 295px;
    height: 480px;
    padding: 15px 15px 20px;
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pet-popup.active-popup {
    display: block;
    background-color: ghostwhite;
    padding: 15px 15px 20px;
}

.pet-popup.active-popup .pet__content_text {
    height: 380px;
    width: 236px;
}

.pet-popup .btn-close {
    position: absolute;
    width: 15px;
    height: 15px;
    right: -26px;
    top: -8px;
    background-color: transparent;
    border: none;
    background-image: url('../assets/image/close.png');
    filter: invert(1);
}

.pet-popup .image-slider {
    margin-left: 0px;
}


@media screen and (max-width: 1270px) {
    .container {
        max-width: 1100px;
    }
}


@media screen and (max-width: 768px) {
    .container {
        max-width: 1100px;
    }

    .logo {
        margin: -10px 0px;
    }

    .view-slider {
        height: 1733px;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        margin: -10px -10px;
    }

    .view-slider .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 42px;
        padding-left: 15px;
    }

    .view-slider .section-title {
        font-size: 25px;
    }

    .view-slider {
        height: 1649px;
    }

}