
.mySlides {
    display:none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1280px;
  position: relative;  
    padding-top: 60px;
    padding-left: 4px;
}

.table {
    display: flex;
    flex-wrap: wrap;
}

.image-slider {
    /* margin: 15px; */
    margin-left: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-slider:hover .button-slider {
    background-color: #F1CDB3;
}

.title-img-slider {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
    padding-top: 30px;
    padding-left: 4px;
    margin-bottom: 30px;
}



/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.controls {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    padding-left: 25px;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}


.prev, .next {
    cursor: pointer;
    height: 52px;
    width: 52px;
    margin-right: 20px;
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    /* display: inline-block; */
    transition: background-color ease-in-out .6s
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 52px;
    width: 52px;
    margin-right: 20px;
    background-color: #bbb;
    border-radius: 100px;
    /* display: inline-block; */
    transition: background-color ease-in-out .6s
}

.prev:hover, .next:hover {
    border: 2px solid #F1CDB3;
}

.active-dot, .dot:hover {
    background-color: #F1CDB3;
}

/* Fading animation */
.fade {
    -webkit-animation-name:fading;
    -webkit-animation-duration:.5s;
    animation-name:fading;
    animation-duration:.5s
}

@-webkit-keyframes fading {
    from {opacity:.4} 
    to {opacity:.9}
}

@keyframes fading {
    from {opacity:.4} 
    to {opacity:.9}
}


@media screen and (max-width: 768px) {

    .slideshow-container {
        max-width: 768px;
        position: relative;
        padding-top: 28px;
        padding-left: 4px;
    }

    .image-slider {
        /* margin: 15px; */
        margin-left: 90px;
        margin-right: -50px;
        margin-bottom: 60px;
    }

    .mySlides .table :nth-child(8), 
    .mySlides .table :nth-child(7) {
        display: none;
    }

    .controls {
        margin-top: 12px;
        padding-left: 34px;
    }
}

@media screen and (max-width: 320px) {

    .image-slider {
        margin-left: 30px;
        margin-right: -50px;
        margin-bottom: 60px;
    }

    .mySlides .table :nth-child(8), 
    .mySlides .table :nth-child(7),
    .mySlides .table :nth-child(6),
    .mySlides .table :nth-child(5),
    .mySlides .table :nth-child(4) {
        display: none;
    }
    
    .slideshow-container {
        padding-top: 40px;
        padding-left: 0px;
    }
}